{% extends 'core/base.html' %}
{% block content %}
{{ form.media }}
<div class="container">
    <div class="row justify-content-center align-items-center g-0">
        <div class="col-12">
            <div class="page-title">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xxl-8 col-xl-10 col-lg-12">
                        <div class="page-title-content">
                            <h3>Income</h3>
                            <p class="mb-2">Welcome Ekash Finance Management</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="breadcrumbs"><a href="{% url 'userauthencation:dashboard' %}">Home </a>
                            <span><i class="fi fi-rr-angle-small-right"></i></span>
                            <a href="{% url 'income:income-list' %}">Income</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center g-0">
        <div class="col-xxl-12 col-xl-12">
            <div class="row justify-content-center align-items-center g-0">
                <div class="row g-0">
                    {% include 'partials/alert.html' %}
                </div>
                <div class="col-xxl-8 col-xl-10 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <!--                                Create a new categories-->
                                {% if form.instance.pk %}Edit{% else %}Create{% endif %} Category
                            </h4>
                            <a href="{% url 'income:income-list' %}" class="btn btn-sm btn-outline-primary"><i
                                    class="fi fi-rr-arrow-small-left pt-2"></i> &nbsp;Back to List</a>
                        </div>
                        <div class="card-body">
                            <div class="create-new-category">
                                <form class="row" action="{{ form_action }}" method="POST">
                                    {% csrf_token %}
                                    <div class="mb-3 col-12">
                                        <label class="form-label">Category Name </label>
                                        {{ form.category }}
                                    </div>
                                    <div class="mb-3 col-12">
                                        <label class="form-label">Amount </label>
                                        {{ form.amount }}
                                    </div>
                                    <div class="mb-3 col-12">
                                        <label class="form-label">Note </label>
                                        {{ form.description }}
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label class="form-label">Income Date</label>
                                        {{ form.income_date }}
                                    </div>
                                    <div class="mb-3 col-6">
                                        <label class="form-label">Payment Method </label>
                                        {{ form.payment_method }}
                                    </div>
<!--                                    <div class="mb-3 col-12 form-check form-switch">-->
<!--                                        {{ form.is_active }}-->
<!--                                        <label class="form-check-label">Status </label>-->
<!--                                    </div>-->
                                    <div class="col-12">
                                        <button class="btn btn-outline-primary w-100">
                                            <!--                                            Create new category-->
                                            {% if form.instance.pk %}Update{% else %}Create{% endif %} Category
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
