<div class="tab-content goals-tab-content" id="goal-detail-pane-{{ goal_data.goal.id }}">
    <div class="goals-tab-title d-flex justify-content-between align-items-center">
        <h3>{{ goal_data.goal.category.category_name }}</h3>
        <a href="{% url 'goals:goals-deposited' goal_data.goal.id %}" class="btn btn-primary">
            <span><i class="fi fi-rs-add"></i></span>&nbsp;Deposited
        </a>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span>Saved</span>
                            <h3>${{ goal_data.total_deposited|floatformat:0 }}</h3>
                        </div>
                        <div class="text-end">
                            <span>Goals</span>
                            <h3>${{ goal_data.goal.goals_amount|floatformat:0 }}</h3>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ goal_data.deposited_percentage }}%;"
                             role="progressbar"></div>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <span>{{ goal_data.deposited_percentage|floatformat:0 }}%</span>
                        <span>{{ 100|floatformat:0|add:"-goal_data.deposited_percentage"|floatformat:0 }}%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="goals-widget">
                                <p>Last Month</p>
                                <h3>${{goal_data.last_month_deposited}}</h3>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="goals-widget">
                                <p>Expenses</p>
                                <h3>$1,798</h3>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="goals-widget">
                                <p>Taxes</p>
                                <h3>$255.25</h3>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="goals-widget">
                                <p>Debt</p>
                                <h3>$365,478</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">History </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mb-0 table-responsive-sm goals-history-table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>wallet</th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in deposits %}
                            <tr>
                                <td><span><i class="fi fi-rr-calendar"></i></span> {{ item.deposited_month }}</td>
                                <td><span><i class="fi fi-rr-credit-card"></i></span> {{item.goals.payment_method}}
                                </td>
                                <td>Necessities</td>
                                <td>
                                    <h5>+{{item.deposited_amount}}$</h5>
                                    <span>{{item.goals.goals_amount}}$</span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add more sections like wallet, history if needed -->
</div>
</div>
